
<div class="jumbotron">
  <h1>Melhores afinidades</h1>
  <p class="lead"></p>

  <div class="container">
    <div class="row">
      <div class="col-lg-16">
		 <ul id="ranking">
		  <% @best_matches.each do |match| %>
		  <li>
			  (<%= match.values.min %>) <%= match.keys.first.split(" => ").first %> => <%= match.keys.map { |i| i.split(" => ").last }.join (", ") %>
		  </li>
		  <% end %>
	 	 </ul>
	  </div>
    </div>
  </div>
</div>
