
<div class="jumbotron">
  <h1>A cultura da Lambda3</h1>
  <p class="lead"></p>

  <div class="container">
    <div class="row">
      <div class="col-lg-16">
		 <ul id="ranking">
		  <% @motivators.each do |motivator| %>
		  <li>
			  <%= image_tag "motiv_#{motivator.first.to_i + 1}.png", class: "motivator"%>
			  <span class="description" data-index="<%= motivator.first %>"></span>
		  </li>
		  <% end %>
	 	 </ul>
		 
		 <h3>Quem ainda não respondeu?</h3>
		 <ul style="list-style:none; height: 100px">
			 
		 <% (all_users.map{ |user_name| user_name.gsub(' ', '_').downcase } -  @already_answered).each do |user| %>
		 	<li style="float:left; padding:20px"><%= user %></li>
		 <% end %>
	 	</ul>
	  </div>
    </div>
  </div>
</div>
