<div class="jumbotron">
  <h1>Champfrogs na Lambda3</h1>
  <p class="lead">Descobrindo a cultura da empresa</p>

  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h2>Como Assim?</h2>
        <p>Minha idéia é usar uma ferramenta conhecida do mundo do <a href="http://www.management30.com/product/management30/">Management 3.0</a>, para que possa nos ajudar a ter uma visão mais ampliada da cultura da Lambda3. 
        Assim poderíamos, por exemplo, entender onde decisões que tomamos nos afetam, e também nos ajudar a tomar decisões baseadas em motivadores comuns para a empresa.
        Tudo surgiu a partir de uma apresentação do <a href="http://www.slideshare.net/imbertti">Henrique Imbertti</a>, no <a href="http://www.thedevelopersconference.com.br/#saopaulo">TDC 2013</a>, apresentando como ele auxiliou a equipe de sua empresa a se conhecer melhor. Na idéia do Henrique, uma forma de isso acontecer é entendendo quais são os motivadores de cada uma das pessoas do time. 
      </div>
      <div class="col-lg-4">
        <iframe src="http://www.slideshare.net/imbertti/slideshelf" width="490px" height="470px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:none;" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>


<div id="data-input" class="container">
  <h1>Vamos testar?</h1>
  <p class="lead">Por favor, ordene os itens abaixo seguindo seu próprio critério pessoal. Procure ser o mais sincero possível consigo mesmo.</p>

  <div class="alert alert-info" id="description">Ordene os itens segudo seu entendimento</div>
  
  <ul id="motivators">
    <%10.times.each do | index |%>
      <li data-index="<%=index%>"><%= image_tag "motiv_#{index+1}.png", class: "motivator"%></li>
    <%end%>
  </ul>
  <p class="right">
	  <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#myModal" href="#">Salvar ordem</a>
  </p>
</div>

<div id="success_message" class="container">
	<div class="alert alert-success">
    	<strong>Obrigado por participar!</strong>
  	</div>
</div>



<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Quem é você?</h4>
      </div>
      <div class="modal-body">
        <p>
        	<select id="user">
				<% all_users.each do |user_name| %>
        		<option value="<%= user_name.gsub(' ', '_').downcase %>"><%= user_name %></option>
				<% end %>
        	</select>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="saveOrder">Salvar ordem</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
