/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.logo {
    width: 200px;
    float:right;
    padding: 20px;
    text-align: center;
}

.motivator {
  width: 110px;
  height: 110px;
}

.footer {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

#motivators {
  height: 140px;
  list-style: none;
  margin: 0; 
  text-align: center;
}
#motivators li {
  display: inline-block;
  float: left;
}

#description {
  font-size: 1.5em;
}

.right {
  text-align: right;
}


select {
    font-size: 25px;
	padding: 15px;
	width: 70%;
	margin: auto;
	display: block;
}
select {
    -webkit-appearance: none;
}
#success_message { display: none;}